.chart {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 50%;
  height: 40vh;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 20%;
}
.bar {
  width: 5%;
  margin: 0 10px;
  background-color: #4caf50;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #fff;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  transition: background-color 0.3s ease;
}
.bar:hover {
  background-color: #45a049;
}
